<div class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col">
                <p>admin@powerstarsc.com</p>
            </div>
            <div class="col">
                <p>035 772 1739 / 035 772 1539</p>
            </div>
        </div>
    </div>
</div>