<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('partials/header') %> 
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('partials/notification') %>
        <%- include('partials/nav') %>
        <header class="text-center">
            <h1 class="display-3 theme-bg"><b>ABOUT US</b></h1>
        </header> 
        <div>
            <div class="text-center">
                <h2 class="theme-text-color">Meet The Owner</h2>
                <p>
                    Owner Jay Reddy (pictured centre) has been in the trucking industry his entire career, 
                    with having started as a Diesel Mechanic for Super Group in 1993 to 2003. 
                    He later went on to work for F&R Catai as the Regional Manager KZN. 
                    He acquired Powerstar Service Centre in 2015.
                </p>
                <p>
                    Complimented by 16 qualified and experienced staff, 
                    Jay is able to push boundaries and provide outstanding services for clients that 
                    Powerstar services throughout the country.
                </p>
                <div class="container">
                    <img src="/imgs/site-images/jay-reddy.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="bg-img">
            <h1 class="text-center theme-text-color"><b>About us</b></h1>
            <p>
                Powerstar Service Centre is a RMI approved commercial truck and earthmoving dealership, with key focus on quality and service delivery. 
                We pride ourselves on providing excellent quality workmanship with a quick turnaround time and delivery date. 
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="card text-center">
                        <div class="card-body">
                          <h4 class="card-title">Our Mission</h4>
                          <p class="card-text">To provide quality, reliable, personalised service to clients at a competitive price.</p>
                        </div>
                      </div>
                </div>
                <div class="row justify-content-center">
                    <div class="theme-bg card text-center">
                        <div class="card-body">
                          <h4 class="card-title">Our Vision</h4>
                          <p class="card-text">Become the leading commercial truck and earthmoving dealership.</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="theme-bg">
                <div class="container text-center">
                    <h2><b>Corporate Social Investment</b></h2>
                    <img src="/imgs/site-images/csi.jpg"/>
                    <p class="mb-0">
                        Powerstar Service Centre believes in investing in the community and giving back, which is why the company is involved in various social investments. Thutukani Special School is one of the beneficiaries. The company has been
                        a sponsor for several years and its currently heading up their pool refurbishment project.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>