<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('partials/header') %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('partials/notification') %>
            <%- include('partials/nav') %>
                <header class="text-center">
                    <h1 class="display-3 theme-bg theme-header-space"><b>ABOUT US</b></h1>
                </header>
                <div class="text-center theme-body-space">
                    <div>
                        <p><strong>Khetha Dludla</strong></p>
                        <p class="m-0">Sales & Marketing</p>
                        <p class="m-0">
                            <a href="mailto:salesexec@powerstarsc.com"
                                data-link="mailto:salesexec@powerstarsc.com">salesexec2@powerstarsc.com</a>
                        </p>
                        <p class="mt-0">082 870 4362 / 035 772 1739</p>
                        <p class="mb-0">Sales</p>
                        <p class="m-0">
                            <a href="mailto:salesexec@powerstarsc.com"
                                data-link="mailto:salesexec@powerstarsc.com">salesexec@powerstarsc.com</a>
                        </p>
                        <p class="mt-0">035 772 1539</p>
                    </div>
                    <div>
                        <p class="mb-0"><strong>Jay Reddy</strong></p>
                        <p class="m-0">Tel 082 924 8421 / 084 763 0505</p>
                        <p class="mt-0">
                            <a data-link="mailto:jayreddy@powerstarsc.com"
                                href="mailto:jayreddy@powerstarsc.com">jayreddy@powerstarsc.com</a>
                        </p>
                        <p>Unit B8C Magazulu Park C/o R34 to Melmoth & D254 Empangeni, 3880</p>
                        <p class="mt-0"> Email:
                            <a data-link="mailto:admin@powerstarsc.com"
                                href="mailto:admin@powerstarsc.com">admin@powerstarsc.com</a>
                        </p>
                    </div>
                    <div class="row mt-5 m-0">
                        <p><strong>Registered with:</strong></p>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-avis.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-eqstra.jpg" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-fleetafrica.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-kcs.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-umhlath.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/logo-wesbank.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="/imgs/site-images/standard-bank.png" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="https://powerstarsc.com/images/site-images/eskom-logo.png"
                                alt="">
                        </div>
                    </div>
                    <!-- Contact Form and Maps -->
                    <div class="row">
                        <div class="col-xl-6">

                        </div>
                        <div class="col-xl-6">
                            <form>

                            </form>
                        </div>
                    </div>
                </div>

                <%- include('partials/footer') %>
    </body>

</html>