<!DOCTYPE html>
<%- include('partials/header') %>

    <body>
        <%- include('partials/nav') %>
            <header class="text-center">
                <h1 class="display-3 theme-bg mb-0 theme-header-space"><b>SERVICES</b></h1>
            </header>
            <div class="theme-grey">
                <div class="container">
                    <div class="row theme-body-space">
                        <div class="col-xl-6">
                            <div class="card bg-dark text-white">
                                <img src="/imgs/site-images/powerstar-truck-main.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Types of vehicle that can be repaired in our workshop</h5>
                                    <ul class="card-text">
                                        <li>Passenger / LDV</li>
                                        <li>Medium Commercial (up to 5 ton) • Heavy Commercial (5 tons +)</li>
                                        <li>Yellow Fleet</li>
                                        <li>Armoured Vehicles</li>
                                        <li>Trailers</li>
                                        <li>Fork Lifts</li>
                                        <li>Ambulance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="container text-center">
                                <h4 class="theme-text-color">Our Competitive Edge</h4>
                                <ul>
                                    <li>Service driven</li>
                                    <li>Full Truck maintenance – bumper to bumper</li>
                                    <li>In-house refurbishment</li>
                                    <li>Provide specialised build to your application – you design it, we build it
                                    </li>
                                    <li>Excellent after-sales service</li>
                                    <li>24-hour on-call service</li>
                                    <li>Roadside Assistance</li>
                                    <li>24/ 7 parts availability</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-img theme-body-space">
                <div class="container">
                    <h4 class="text-center theme-text-color">About Us</h4>
                    <h1 class="text-center theme-text-color"><b>Other Services Offered</b></h1>
                    <div class="row p-5">
                        <div class="col-xl-6">
                            <ul>
                                <li>Vehicle services – light & heavy-duty vehicles</li>
                                <li>Auto Electrical</li>
                                <li>Vehicle Diagnosis</li>
                                <li>Engine overhauls</li>
                                <li>Panel beating</li>
                                <li>Spray painting</li>
                                <li>Touch ups and final finishing of vehicles</li>
                                <li>Auto mechanical repairs</li>
                                <li>Auto Electrical repairs</li>
                                <li>Workshop Operations</li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <ul>
                                <li>Parts</li>
                                <li>Stores</li>
                                <li>Merchant Major Repair Categories: Engine, Gearbox, Diff, COF and Hydraulics</li>
                                <li>Merchant Fitment Categories: Lights and Sirens, Number Plates, Shocks, Batteries
                                </li>
                                <li>Other Categories / Car washes/ Valet</li>
                                <li>Moto Body Repair Categories: Non-Structural Repairs</li>
                                <li>Merchant Minor Repair Categories: Service, Minor Maintenance, Auto Electrical,
                                    Propshafts,
                                    Clutch Overhauls, Brakes</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <%- include('partials/footer') %>
    </body>

    </html>