html {
    height: 100%;
}

body {
    font-family: 'Roboto';
}

.bg-img {
    background-image: url("/imgs/logo-screen.png");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme-text-color {
    color: #ae0025;
}

.theme-header-space {
    padding-top: 5%;
    padding-bottom: 5%;
}

.theme-body-space {
    padding-top: 8%;
    padding-bottom: 8%;
}

.theme-bg {
    background-color: #ae0025;
    color: white;
}

.theme-grey {
    background-color: #dad9d8;
}

footer {
    background-color: #433d3c;
}