<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('../../../partials/header') %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../../../partials/notification') %>
            <%- include('../../../partials/nav') %>
                <header class="text-center">
                    <h1 class="display-3 theme-bg theme-header-space">SHANTUI</h1>
                </header>
                <div class="row align-items-center m-0">
                    <div class="col-xl-6">
                        <img class="img-fluid" src="/imgs/products/shantui/sl60w.jpg" alt="">
                    </div>
                    <div class="col-xl-6">
                        <h4 class="text-center display-5">SL60W-3 Wheel Loader</h4>
                        <p class="p-5">
                            The best feature of this model, is not only its sheer size, but also its tubeless tires that
                            offer deeper treads for greater traction. It offers even larger capacity, though does not
                            sacrifice anything when it comes to turn radius and turning angle.
                        </p>
                        <div class="row text-center pb-5">
                            <div class="col">
                                <a class="btn btn-lg theme-btn" download="/imgs/products/shantui/sl-60w-3.pdf">Download
                                    Specs</a>
                            </div>
                            <div class="col">
                                <button class="btn btn-lg theme-btn">Contact Us Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../../../partials/footer') %>
    </body>

</html>