<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

<html>

<%- include('../../partials/header') %>

  <body>

    <!--[if lt IE 7]>

            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>

        <![endif]-->

    <%- include('../../partials/notification') %>

      <%- include('../../partials/nav') %>

        <header class="text-center">

          <h1 class="display-3 theme-bg theme-header-space">POWERSTAR</h1>

        </header>

        <div>

          <h2 class="display-5 theme-header-space text-center">Powerstar ft3</h2>

          <div class="container">

            <div class="row">

              <div class="col-lg-6">

                <img class="img-fluid" src="/imgs/products/ft3/screen-shot-2018-05-16-at-10-07-39.png" alt="" />

                <!-- Gallery -->

                <div class="theme-body-space">

                  <div class="row">

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3324--copy-1.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3343--copy.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3374--copy.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3384--copy.jpg" />

                    </div>

                  </div>

                  <div class="row">

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3438--1.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3448--1.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3468-.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3484-.jpg" />

                    </div>

                  </div>

                  <div class="row">

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3491-.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3497-.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/_3510--1.jpg" />

                    </div>

                    <div class="col">

                      <img class="w-100 h-100 p-1" src="/imgs/products/ft3/image-1-copy-1.jpg" />

                    </div>

                  </div>

                </div>

              </div>

              <!-- Gallery End -->

              <div class="col-lg-6">

                <!-- Specs Accordion -->

                <div class="container">

                  <h5><strong>Specs</strong></h5>

                  <div class="accordion" id="specs-accordion">

                    <div class="accordion-item">

                      <h2 class="accordion-header theme-font-bold" id="headingOne">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                          STANDARD FEATURES

                        </button>

                      </h2>

                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li class="theme-font-text">Aircon, Radio, cruise control</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header theme-font-bold" id="headingTwo">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                          ENGINE

                        </button>

                      </h2>

                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Make: Cummins FT3 7515-34 Euro 3</li>

                            <li>Model: Configuration ISF3.8s3154</li>

                            <li>Max Power - Kw @ r/min: 115/2600</li>

                            <li>Max Torque - N.m @ r/min: 500/1200~1900</li>

                            <li>HP: 154</li>

                            <li>Cylinder: 4 Inline</li>

                            <li>Water Cooled: Yes</li>

                            <li>Direct Injection: Yes / Common Rail</li>

                            <li>Engine Driven P.T.O: No</li>

                            <li>Displacement (I): 3,76</li>

                            <li>Compression Ratio: 17.2:1</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingThree">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                          BREAKS

                        </button>

                      </h2>

                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Service: Air Brake</li>

                            <li>Emergency / Parking: N/A</li>

                            <li>Auxiliary: Exhaust Brake</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingFour">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">

                          STANDARD TYRE EQUIPMENT

                        </button>

                      </h2>

                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Size and ply rating: AEOLUS 215/75R17.5-16PR</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingFive">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">

                          FRONT AXLE

                        </button>

                      </h2>

                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Type: Forged I-beam</li>

                            <li>Suspension: Non-independent, front and rear leaf spring</li>

                            <li>Brake: Disc</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingSix">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">

                          REAR AXLE

                        </button>

                      </h2>

                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Type: Integral</li>

                            <li>Suspension: Non-independent, front and rear leaf spring</li>

                            <li>Brake: Drum</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingSeven">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">

                          ELECTRICAL EQUIPMENT

                        </button>

                      </h2>

                      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Alternator: 70 Amp</li>

                            <li>Starter Motor: 24 Volt/3.6 KW</li>

                            <li>Batteries: 2 x 12V - 100Ah</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingEight">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">

                          PERFORMANCE DATA

                        </button>

                      </h2>

                      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Gradeability: @ GVM 30%</li>

                            <li>Max Geared Road Speed: 113 kmh</li>

                            <li>Final Drive Ratio: 4,11</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingNine">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">

                          CLUTCH

                        </button>

                      </h2>

                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Make / Type / Size: ø350 * ø220</li>

                            <li>Operation Diaphragm: spring clutch</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="headingTen">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">

                          WARRANTY

                        </button>

                      </h2>

                      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>New Vehicle: 2 Year / Unlimited Mileage</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="heading11">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">

                          TRANSMISSION

                        </button>

                      </h2>

                      <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Make/Model: ZF Ecolite 6S500TO</li>

                            <li>No Gears: 6</li>

                            <li>Synchromesh or Constant Mesh: Synchromesh</li>

                            <li>Transfer Box: N/A</li>

                            <li>P.T.O: No PTO - PTO Interface Only</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="heading12">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">

                          DIMENSIONS

                        </button>

                      </h2>

                      <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Overall Length (OL) 5 875</li>

                            <li>Overall Width (OW): 2 250</li>

                            <li>Overall Height (OH): 2 280</li>

                            <li>Front Overhang (FOH): 1 135</li>

                            <li>Rear Overhang (ROH): 1 380</li>

                            <li>Wheel Base (WB): 3 360</li>

                            <li>Bumper to Back of Cab (BBC): 1 795</li>

                            <li>Cab to rear axle / unit (CA): 2 700</li>

                            <li>Turning Radius (TR): 9</li>

                            <li>Fuel Tank Capacity (FTC): 120 LTR Aluminium</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="heading13">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">

                          MASS INFORMATION

                        </button>

                      </h2>

                      <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Manufacturers Gross Vehicle Mass (GVM): 7 500</li>

                            <li>Manufacturers Gross Combination Mass (GCM): 9 500</li>

                            <li>Manufacturers Front Axle Mass (GA): 2 600</li>

                            <li>Manufacturers Rear Axle Mass (GAU): 5 500</li>

                            <li>Permissible Maximum Vehicle Mass (V): 7 500</li>

                            <li>Permissible Maximum Front Axle Mass (AF): 2 600</li>

                            <li>Permissible Maximum Rear Axle Mass (AR): 5 500</li>

                            <li>Unladen Front Axle Mass (UF): 1 600</li>

                            <li>Unladen Rear Axle Mass (UR): 960</li>

                            <li>Total Unladen Mass (UT): 2 560</li>

                            <li>Permissible Max Drawing Vehicle Mass (D/T): 9 500</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                    <div class="accordion-item">

                      <h2 class="accordion-header" id="heading14">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"

                          data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">

                          CAB

                        </button>

                      </h2>

                      <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"

                        data-bs-parent="#specs-accordion">

                        <div class="accordion-body">

                          <ul>

                            <li>Day Cab: Yes</li>

                          </ul>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="row text-center theme-body-space">

                    <div class="col">

                      <a class="btn btn-lg theme-btn" download="/imgs/products/ft3/ft3.pdf">Download Specs</a>

                    </div>

                    <div class="col">

                      <button class="btn btn-lg theme-btn">Contact Us Now</button>

                    </div>

                  </div>

                </div>

                <!-- Accordion End -->

              </div>

            </div>

          </div>

        </div>

        <%- include('../../partials/footer') %>

  </body>

</html> 
