<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

<html>
<%- include('../../partials/header') %>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <%- include('../../partials/notification') %>
      <%- include('../../partials/nav') %>

        <header class="text-center">
          <h1 class="display-3 theme-bg theme-header-space">POWERSTAR</h1>
        </header>

        <div>
          <div class="theme-header-space text-center">
            <h2 class="display-5">Powerstar VX26-35A-6x6</h2>
            <p>Tipper / Water Tanker / Freight Carrier / Waste Compacto</p>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <img class="img-fluid" src="/imgs/products/vx-2635/main-vx2635.png" alt="" />

                <!-- Gallery -->

                <div class="theme-body-space">
                  <div class="row">
                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-02.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-03.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-04.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-05.jpg" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-05.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-07.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-08.jpg" />
                    </div>

                    <div class="col-xl-3">
                      <img class="w-100 h-100 p-1" src="/imgs/products/v3-2646-01/ps-int-09.jpg" />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Gallery End -->

              <div class="col-lg-6">
                <!-- Specs Accordion -->

                <div class="container">
                  <h5><strong>Specs</strong></h5>

                  <div class="accordion" id="specs-accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header theme-font-bold" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          ENGINE
                        </button>
                      </h2>

                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Make: Weichai Euro 2 Turbo charged Intercooled</li>

                            <li>Model Configuration: WP 10.340 E32</li>

                            <li>Max Power - Kw @ r/min: 250/2200</li>

                            <li>Max Torque - N.m @ r/min: 1350/1200~1600</li>

                            <li>HP: 340</li>

                            <li>Cylinder: 6 Inline</li>

                            <li>Water Cooled: Yes</li>

                            <li>Direct Injection: Yes</li>

                            <li>Engine Driven P.T.O: No</li>

                            <li>Displacement (I): 9.726</li>

                            <li>Compression Ratio: 17:01</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          BREAKS
                        </button>
                      </h2>

                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Service: Double circuit air brakes</li>

                            <li>Emergency / Parking: Spring potential brake</li>

                            <li>Auxiliary: ABS & EVB</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                          STANDARD TYRE EQUIPMENT
                        </button>
                      </h2>

                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>
                              Size and ply rating: 1400x20 incl spare wheel
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          FRONT AXLE
                        </button>
                      </h2>

                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Type: AR7/10DS-7/4.769</li>
                            <li>Suspension: Non-free standing stabilization leaf spring, hydraulic shock absorber</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          MIDDLE & REAR AXLE
                        </button>
                      </h2>

                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Type: HD7/016DGS - HL7/015DS-13/4.796</li>
                            <li>
                              Suspension: Stabilizator suspension, 13 pieces leaf spring (20mm each) Hub reduction axles
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          ELECTRICAL EQUIPMENT
                        </button>
                      </h2>

                      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Alternator: 70Amp</li>
                            <li>Starter Motor: 5.58kW</li>
                            <li>Batteries: 2 x 12V - 120AH</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          PERFORMANCE DATA
                        </button>
                      </h2>

                      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Gradeability: @ GVM: 53% @GVM</li>
                            <li>Max Geared Road Speed: 98km/h (Limited to 80km/h)</li>
                            <li>Final Drive Ratio: 4.769</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          CLUTCH
                        </button>
                      </h2>

                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Make / Type / Size: GFX 430mm single</li>
                            <li>Operation Diaphragm: Single dry frictional disc, diaphragm spring, pulling type</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                          WARRANTY
                        </button>
                      </h2>

                      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>New Vehicle: 3 years / 300 000km (SA only)</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                          TRANSMISSION
                        </button>
                      </h2>

                      <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Make/Model: 12JS160T + QH50</li>
                            <li>No Gears: 12</li>
                            <li>Synchromesh or Constant Mesh: Synchromesh</li>
                            <li>Transfer Box: LF200 (2000 N.m)</li>
                            <li>P.T.O: Yes</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                          DIMENSIONS
                        </button>
                      </h2>

                      <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Overall Length (OL): 9 390</li>
                            <li>Overall Width (OW): 2 495</li>
                            <li>Overall Height (OH): 3 275</li>
                            <li>Front Overhang (FOH): 1 435</li>
                            <li>Rear Overhang (ROH): 1 940</li>
                            <li>Wheel Base (WB): 5 175</li>
                            <li>Bumper to Back of Cab (BBC): 1 880</li>
                            <li>Cab to rear axle / unit (CA): 4 730</li>
                            <li>Turning Radius (TR): 10 000</li>
                            <li>Fuel Tank Capacity (FTC): 400 LTR</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading13">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                          MASS INFORMATION
                        </button>
                      </h2>

                      <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Manufacturers Gross Vehicle Mass (GVM): 26 000</li>
                            <li>Manufacturers Gross Combination Mass (GCM): 65 000</li>
                            <li>Manufacturers Front Axle Mass (GA): 7 500</li>
                            <li>Manufacturers Rear Axle Mass (GAU): 26 000</li>
                            <li>Permissible Maximum Vehicle Mass (V): 23 500 (Singles)</li>
                            <li>Permissible Maximum Front Axle Mass (AF): 7 500</li>
                            <li>Permissible Maximum Rear Axle Mass (AR): 16 000 (Singles)</li>
                            <li>Unladen Front Axle Mass (UF): 5 253</li>
                            <li>Unladen Rear Axle Mass (UR): 5 123</li>
                            <li>Total Unladen Mass (UT): 10 376</li>
                            <li>Permissible Max Drawing Vehicle Mass (D/T): 60 000</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading14">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                          CAB
                        </button>
                      </h2>

                      <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                        data-bs-parent="#specs-accordion">
                        <div class="accordion-body">
                          <ul>
                            <li>Hydraulic Tiltable Cab</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row text-center theme-body-space">
                    <div class="col">
                      <a class="btn btn-lg theme-btn" download="/imgs/products/vx-2635/vx2635.pdf">Download Specs</a>
                    </div>

                    <div class="col">
                      <button class="btn btn-lg theme-btn">Contact Us Now</button>
                    </div>
                  </div>
                </div>

                <!-- Accordion End -->
              </div>
            </div>
          </div>
        </div>

        <%- include('../../partials/footer') %>
  </body>

</html>