<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('../../../partials/header') %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../../../partials/notification') %>
            <%- include('../../../partials/nav') %>
                <header class="text-center">
                    <h1 class="display-3 theme-bg theme-header-space">SHANTUI</h1>
                </header>
                <div class="row align-items-center m-0">
                    <div class="col-xl-6">
                        <img class="img-fluid" src="/imgs/products/shantui/se-330.png" alt="">
                    </div>
                    <div class="col-xl-6">
                        <h4 class="text-center display-5">SE330 Excavator</h4>
                        <p class="p-5">
                            The second largest of Shantui's excavator offerings, the SE330 is a heavy-duty workhorse
                            that boasts a Cummins engine and imported hydraulics. This machine is another Shantui value
                            leader with its large digging force, bucket capacity, flexible swing system, efficient
                            bucket and arm controls and its ergonomic cab.
                        </p>
                        <div class="row text-center pb-5">
                            <div class="col">
                                <a class="btn btn-lg theme-btn" download="/imgs/products/shantui/se-330.pdf">Download
                                    Specs</a>
                            </div>
                            <div class="col">
                                <button class="btn btn-lg theme-btn">Contact Us Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../../../partials/footer') %>
    </body>

</html>