<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('../../../partials/header') %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../../../partials/notification') %>
            <%- include('../../../partials/nav') %>
                <header class="text-center">
                    <h1 class="display-3 theme-bg theme-header-space">SHANTUI</h1>
                </header>
                <div class="row align-items-center m-0">
                    <div class="col-xl-6">
                        <img class="img-fluid" src="/imgs/products/shantui/se480.jpg" alt="">
                    </div>
                    <div class="col-xl-6">
                        <h4 class="text-center display-5">SE480 Excavator</h4>
                        <p class="p-5">
                            The SE480 excavator boasts a 47.6-ton operating weight and a bucket capacity of 2.3m3,
                            making it ideally suited to mining and quarrying applications. It comes equipped with
                            segmented roller guards, a deck guard, window guard and belly plates to ensure that it is
                            able to withstand the most hostile terrain and operating conditions.
                        </p>
                        <div class="row text-center pb-5">
                            <div class="col">
                                <a class="btn btn-lg theme-btn" download
                                    href="/imgs/products/shantui/se-480.pdf">Download
                                    Specs</a>
                            </div>
                            <div class="col">
                                <button class="btn btn-lg theme-btn">Contact Us Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../../../partials/footer') %>
    </body>

</html>