<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('../partials/header') %> 
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../partials/notification') %>
        <%- include('../partials/nav') %>
        <header class="text-center">
            <h1 class="display-3 theme-bg"><b>SPECIALISED PRODUCTS</b></h1>
        </header> 
        <div>
            <div class="text-center">
                <div class="container">
                    <p>
                        Powerstar Service Centre can assist with specialised units which is tailor-made and built to clients 
                        specifications and requirements
                    </p>
                    <img src="/imgs/site-images/special-1.jpg" alt="">
                    <img src="/imgs/site-images/special-3.jpg" alt="">
                    <img src="/imgs/site-images/special-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <h4>Powerstar offers affordable solutions</h4>
            <p>
                Powerstar, SA’s up-and-coming truck brand, recently showed just how versatile it is. 
                The local branch, Powerstar Empangeni, delivered a complete firefighting and rescue unit to 
                Foskor’s phosphate mine in Phalaborwa. This fire and rescue truck was imported directly from China, 
                fully equipped, and boasts all the necessary features and equipment to deal with most mine-related emergencies.
            </p>
            <p>
                Powerstar Empangeni was able to supply the Foskor group with this vehicle at 
                half the price than what it would have cost to have a similar 
                vehicle put together in SA, thus making for a huge cost saving for the client.
            </p>
            <p>
                As with all Powerstar’s trucks, the focus is not just on affordability, 
                but also on reliability and easy of operation - without  compromising on quality. 
                The fire-and-rescue unit is build on a Powerstar 3353 VX 6x4 long-wheel base 
                chassis-cab with the following specifications: 
            </p>
            <p>
                <h6><u>Truck base</u></h6>
                Powering the 3335 is a 9.7-litre Weichai Euro 2 six-in-line engine, 
                which puts out 250kW of power at 2 200rpm and delivers 1 350Nm of torque from 1 600rpm
                upwards. Shifting happens through a 12-speed synchromesh transmission. 
                The Powerstar 3353 VX 6x4 long-wheel chassis-cab unit has a wheel base of 4 800mm and a 
                GVM of 33 000kg with a permissible axle masses of 7 800kg on the front and 18 000kg on 
                the rear. The truck has a Grade A Ability at GVM of 30% which exceeded the mines requirements of 18%. Destined to work in a mining environment, the client requested the truck to meet numerous smaller requirements such as rough terrain tyres and heavy duty vinyl surfaces throughout the cabin, 
                all which the big yellow Powerstar met.
            </p>
            <p>
                <h6><u>Fire/rescue unit</u></h6>
                The client was very specific about the requirements of the actual fire-and-rescue unit, fitted onto the chassis, had to meet.
                These are just some of the points on a very long list:
                <ul>
                    <li>Fire tender to be fitted with maintenance</li>
                    <li>Free deep cycle batteries</li>
                    <li>Failsafe engine protection system</li>
                    <li>A two-way radio system</li>
                    <li>Four H-type hydraulic outriggers for stability</li>
                    <li>A mid-ship mounted Hale RSD100 centrifugal water pump with a flow rate of 6 000-litres per minute</li>
                    <li>A main water tank capacity of 2 500 litres.</li>
                </ul>
            </p>
            <p>
                Dealer Principal of Powerstar Empangeni, Jay Reddy, says they complied with all the 
                requirements and although they were up against established truck brands, 
                Powerstar was awarded the tender, proving that SA’s youngest truck brand can compete on equal terms in Africa because 
                ‘these trucks are built for Africa’.
            </p>
            <p>
                Jay invites all fleet owners to visit Powerstar Empangeni to find out what this brand can do for their businesses.
            </p>
        </div>
        <%- include('../partials/footer') %> 
    </body>
</html>