<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('../partials/header') %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../partials/notification') %>
            <%- include('../partials/nav') %>
                <header class="text-center ">
                    <h1 class="display-3 theme-bg theme-header-space"><b>WEICHAI</b></h1>
                </header>
                <div class="container text-center pt-5">
                    <div>
                        <div class="p-5">
                            <img src="/imgs/site-images/logo-weichei.jpg" alt="" />
                            <p><b>Land Based Genset Generators</b></p>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-06.jpg" alt="" />
                                <h4>Model: WPG38 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-02.jpg" alt="" />
                                <h4>Model: WPG80 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-02.jpg" alt="" />
                                <h4>Model: WPG100 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-03.jpg" alt="" />
                                <h4>Model: WPG170 Series</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-03.jpg" alt="" />
                                <h4>Model: WPG220 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-10.jpg" alt="" />
                                <h4>Model: WPG330 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-10.jpg" alt="" />
                                <h4>Model: WPG350 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-11.jpg" alt="" />
                                <h4>Model: WPG500 Series</h4>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-03.jpg" alt="" />
                                <h4>Model: WPG220 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-10.jpg" alt="" />
                                <h4>Model: WPG330 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-10.jpg" alt="" />
                                <h4>Model: WPG350 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-11.jpg" alt="" />
                                <h4>Model: WPG500 Series</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-01.jpg" alt="" />
                                <h4>Model: WPG700 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-09.jpg" alt="" />
                                <h4>Model: WPG15 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-09.jpg" alt="" />
                                <h4>Model: WPG17 Series</h4>
                            </div>
                            <div class="col-xl-3">
                                <img src="/imgs/site-images/weichai-11.jpg" alt="" />
                                <h4>Model: WPG700 Series</h4>
                            </div>

                        </div>
                    </div>
                    <div class="theme-header-space">
                        <a class="btn btn-lg theme-btn">Contact Us Now</a>
                    </div>
                </div>
                <%- include('../partials/footer') %>
    </body>

</html>